.productDetails {
    &__info {
        margin-top: 20px;
        .info__content {
            background: transparent;
            border: 1px solid #663e12;
            padding: 20px 40px;
            overflow: hidden;
        }
        .full {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            line-height: 40px;
            &:first-child,
            &:nth-child(2) {
                border-top: none;
            }
            @include maxWidth(768px) {
                &:nth-child(2) {
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                }
            }
        }
        .ele {
            font-size: 15px;
            display: flex;
            flex-wrap: wrap;
        }
        .ele__left {
            min-width: 95px;
            i {
                color: #c89214;
            }
        }
        .ele__right {
            padding: 0 20px;
        }
    }
}

@include maxWidth(480px) {
    .productDetails__info .info__content {
        padding: 0;
        padding-left: 5px;
    }
}
