.contact {
    background: white;
    &__container {
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    &__info {
        background: #2e1501;
        border: 1px solid #ccc;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
    }
    &__info {
        padding-top: 20px;
    }
}
.form__control {
    width: 100%;
}
textarea {
    width: 100%;
}
