.feedback {
    // height: 500px;
    padding-bottom: 100px;
    background-image: url("../img/feedback/Rectangle\ 11\ \(1\).png");
    position: relative;
    @include maxWidth(576px) {
        padding-bottom: 50px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #6a4113;
        mix-blend-mode: multiply;
        z-index: 1;
    }
    .box__heading {
        position: relative;
        z-index: 2;
    }
    &__container {
        position: relative;
        z-index: 1;
    }
    &__item {
        padding: 0 15px;
    }
    &__img img {
        width: 100%;
        height: 244px;
        max-height: 244px;
        border-radius: 8px;
        @include maxWidth(768px) {
            height: 142px;
        }
        @include maxWidth(480px) {
            height: 244px;
        }
    }
    &__img {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 20px;
            border-radius: 50%;
            border: 2px solid transparent;
            background: linear-gradient(to right, #fff, #fff), linear-gradient(#db9f06, #e6c64b, #db9f06);
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }
        i {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__text {
        text-align: center;
        padding-top: 14px;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 30%;
        width: 46px;
        height: 46px;
        border-radius: 100px;
        background: rgba(192, 192, 192, 0.5);
        display: flex;
        cursor: pointer;
        @include maxWidth(1024px) {
            display: none !important;
        }
    }
    .slick-next {
        right: -35px;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .slick-prev {
        left: -35px;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
