body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.spacing {
    width: 234px;
}
.goldgr-color {
    background-image: linear-gradient(90deg, #d5ab71 0%, #fbe499 52.08%, #d1a86f 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
