.header {
    background: #18120b;
    height: 62px;

    &__container {
        position: relative;
        @include maxWidth(768px) {
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__menu {
        padding: 19px 0;
        @include maxWidth(768px) {
            display: none;
        }
    }
    &__bg--logo {
        position: absolute;
        top: -44px;
        left: 0;
        z-index: 88;
        width: 200px;
        // background-image: url("../img/nenlogo.png");
        @include maxWidth(768px) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .img__logo {
        position: absolute;
        z-index: 89;
        top: -30px;
        left: 25px;
        @include maxWidth(768px) {
            left: 50%;
            transform: translateX(-50%);
            top: 3px;
            width: 120px;
            height: 90px;
        }
        @include maxWidth(576px) {
            width: 100px;
            height: 70px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
    .bar__mobi,
    .seach__mobi {
        display: none;
    }
    @include maxWidth(768px) {
        .bar__mobi,
        .seach__mobi {
            display: block;
            font-size: 28px;
        }
    }
}
@include maxWidth(768px) {
    .space {
        display: none;
    }
}
.item {
    margin-bottom: 20px;
}
