.news {
    margin-bottom: 40px;
    .posts__item {
        display: flex;
        margin-top: 32px;
        img {
            width: 176px;
            height: 132px;
            margin-right: 32px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        text-align: justify;
        padding-right: 40px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}
