.productDetails {
    &__info {
        margin-top: 20px;
        .info__content {
            background: transparent;
            border: 1px solid #663e12;
            padding: 20px 40px;
            overflow: hidden;
        }
        .full {
            border-top: 1px solid #e7e7e7;
            line-height: 40px;
            &:first-child,
            &:nth-child(2) {
                border-top: none;
            }
        }
        .ele__right {
            padding: 8px 20px 7px 20px;
        }
    }
}
