.project {
    margin-bottom: 40px;
    &__item {
        padding: 0 10px;
        margin-bottom: 14px;
    }
    .project__img {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 202px;
            display: block;
            object-fit: cover;
            transition: transform 0.8s ease;
            @include maxWidth(768px) {
                height: 254px;
            }
            @include maxWidth(480px) {
                height: 250px;
            }
        }
        &::before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
        }
    }
    &__name {
        font-weight: bold;
        line-height: 19px;
        padding: 14px 0;
    }
    .project__text {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #fff;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 8px;
        i {
            margin-right: 6px;
        }
    }
    &__content {
        padding-bottom: 20px;
    }
}
.project__img img:hover {
    transform: scale(1.2);
}
.project__img img:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
