.service {
    padding-bottom: 40px;
    background: #18120b;
    &__item {
        position: relative;
        padding: 15px;
        top: 0;
        left: 0;
        .service1 {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
        }
        .service2 {
            position: absolute;
            top: 20px;
            left: 17px;
        }
    }
}
