.service {
    padding-bottom: 60px;
    background: #18120b;
    &__content {
        display: flex;
        column-gap: 60px;
        justify-content: center;
    }
    &__item {
        position: relative;
        padding: 20px 17px;
        max-width: 329px;
        max-height: 450px;
        height: 450px;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url("../img/service/Rectangle\ 377.png");
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;
            width: 80%;
            height: 85%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid;
            border-image: linear-gradient(90deg, #d5ab71 0%, #fbe499 52.08%, #d1a86f 100%) 2;
            z-index: 3;
        }
    }
    .service__img {
        position: relative;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }

    .bg-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 72%;
        height: 46px;
        background: #555555;
        mix-blend-mode: multiply;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
    &__name {
        text-transform: uppercase;
        font-family: $font-heading;
        font-weight: 700;
        font-size: 16px;
        position: absolute;
        z-index: 5;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
