.service {
    padding-bottom: 40px;
    background: #18120b;
    &__item {
        position: relative;
        // padding: 20px;

        &::before {
        }
        // .service2 {
        //     position: absolute;
        //     top: 20px;
        //     left: 17px;
        // }
    }
}
