.service {
    padding-bottom: 60px;

    background: #18120b;
    @include maxWidth(768px) {
        padding-bottom: 40px;
    }
    &__content {
        display: flex;
        column-gap: 60px;
        justify-content: center;
        @include maxWidth(768px) {
            column-gap: 0;
        }
        @include maxWidth(576px) {
            display: grid;
            justify-content: flex-start;
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            grid-gap: 0;
            overflow: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            scroll-padding: 1rem;
            grid-template-columns: unset;
        }
    }
    &__item {
        position: relative;
        padding: 20px 17px;
        max-width: 329px;
        max-height: 450px;
        height: 450px;
        @include maxWidth(768px) {
            height: 400px;
            margin-right: 20px;
            &:last-child {
                margin: 0;
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url("../img/service/Rectangle\ 377.png");
            z-index: 1;
        }
    }
    .service__img {
        position: relative;
        z-index: 2;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: "";
            position: absolute;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid;
            border-image: linear-gradient(90deg, #d5ab71 0%, #fbe499 52.08%, #d1a86f 100%) 2;
            z-index: 3;
        }
    }
    &__name {
        text-transform: uppercase;
        font-family: $font-heading;
        font-weight: 700;
        font-size: 16px;
        position: relative;
        z-index: 5;
        width: 80%;
        min-height: 46px;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background: #555555;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #555555;
        // mix-blend-mode: multiply;
        background: rgba(0, 0, 0, 0.65);
        p {
            text-align: center;
        }
    }
}
.service__item {
    overflow: hidden;
    position: relative;
    img {
        transition: transform 0.8s ease;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        content: "";
        width: 5%;
        height: 10%;
        // background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    }
    &:hover::before {
        // -webkit-animation: lin 1.5s;
        // animation: pacman 0.3s infinite;
        animation-name: pacman;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
}
@keyframes pacman {
    0% {
        top: 0;
        left: 0;
    }
    33% {
        top: 100%;
        left: 0;
    }
    66% {
        top: 100%;
        left: 100%;
    }
    100% {
        left: 0;
        bottom: 0;
    }
}
