.topbar {
    background: #2e1501;
    padding: 7px 0;

    color: #fff;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        display: flex;
    }
    &__item {
        width: 27px;
        height: 27px;
        box-sizing: border-box;
        // border-radius: 3px;
        // border-width: 0.5px;
        // border-style: solid;
        // border-image: linear-gradient(#d4ab71, #fbe499, #d1a86f) 1;
        background-color: #18120b;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        i {
            padding: 6px;
            font-size: 10px;
        }
    }
    &__phone {
        font-size: 12px;
        display: flex;
        align-items: center;
        i {
            font-size: 13px;
            margin-right: 8px;
        }
    }
    &__email {
        font-size: 12px;
        display: flex;
        align-items: center;
        i {
            font-size: 13px;
            margin-right: 8px;
        }
    }
}
