.topbar {
    background: #2e1501;
    color: #fff;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
    }
    &__icon {
        display: flex;
    }
}
