.topbar {
    background: #2e1501;
    color: #fff;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
    }
    &__icon {
        display: flex;
    }
    &__phone {
        font-size: 12px;
        display: flex;
        align-items: center;
        i {
            font-size: 13px;
            margin-right: 8px;
        }
    }
    &__email {
        font-size: 12px;
        display: flex;
        align-items: center;
        i {
            font-size: 13px;
        }
    }
}
