.villa {
    background-image: url("../img/villa/Group\ 254.png");
    padding-bottom: 64px;
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #2b1d0d;
        // background: #18120b;
        // opacity: 0.3;
        mix-blend-mode: multiply;
        z-index: -1;
    }
    .box__heading {
        // position: relative;
        // z-index: 2;
    }
    &__container {
        position: relative;
        display: flex;
        padding: 0 45px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        margin-bottom: 45px;
        z-index: 1;
    }
    &__item {
        height: 301px;
        padding-left: 0;
        position: relative;
        @include maxWidth(576px) {
            padding: 0;
        }
        &::before {
            content: "";
            position: absolute;
            height: 46px;
            width: calc(100% - 17px);
            bottom: 1px;
            left: 1px;
            right: 1px;
            background: #555555;
            mix-blend-mode: multiply;
            z-index: 2;
            @include maxWidth(576px) {
                width: calc(100% - 2px);
            }
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        border: 1px solid;
        object-fit: cover;
        border-width: 0.5px;
        border-style: solid;
        border-image: linear-gradient(#d4ab71, #fbe499, #d1a86f) 1;
        position: relative;
    }
    &__name {
        position: absolute;
        content: "";
        bottom: 13px;
        left: 22px;
        line-height: 18px;
        font-size: 16px;
        font-weight: 600;
        z-index: 3;
    }
    &__button {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        transition: all 0.3s ease;
        &:hover {
            transform: scaleX(1.1);
        }
    }
    &__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}
